{% extends "::layout/base.html.twig" %}

{% block titre %}{{ produit.nom }}{% endblock %}
{% block description %}{{ produit.description }}{% endblock %}


{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-3">
                {% include '::modules/navigation.html.twig' %}
            </div>

            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        {#                        <img src="{{ produit.image.AssetPath |imagine_filter('my_thumb')  }}" alt="{{ produit.image.name }}" >#}
                        <img src="{{ asset(produit.image.AssetPath)}}" class='img-responsive' alt="{{ produit.image.name }}" >
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <h4>{{ produit.nom }}</h4>
                        <h5>{{ produit.categorie.nom }}</h5>
                        <p>{{ produit.description }}</p>
                        <h4>{{ produit.prix | tva(produit.tva.multiplicate) }}€</h4>
                        {% if panier[produit.id] is not defined %}
                            <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method='get'>
                                <div class="col-xs-5">
                                    <select name="qte" class="col-xs-12 col-sm-1 form-control">
                                        {% for i in 0..10  %}
                                            <option value="{{ i }}" >{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-primary">Ajouter au panier</button>
                                </div>
                            </form>
                        {% else %}
                            <div>
                                <a class="btn btn-primary" href="{{ path('panier') }}">Le produit est déjà dans votre panier</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}