{% extends "::layout/base.html.twig" %}



{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-3">
                {% include '::modules/navigation.html.twig' %}
            </div>

            <div class="col-xs-12 col-sm-9">

                <h3>Résultat(s) pour : {{chaine}}</h3>

                {% if produits | length != 0 %}

                    <div class="row">

                        <ul class="list-unstyled produits">
                            {% for produit in produits %}
                                <li class="col-xs-12 col-sm-4 col-md-3">
                                    <div class="thumbnail">
                                        <a href="{{ path('presentation', { 'id' : produit.id }) }}">
                                            <img src="{{ produit.image.AssetPath|imagine_filter('my_thumb') }}" class='img-responsive' alt="{{ produit.image.name }}" >
                                        </a>
                                    </div>
                                    <div class="row infos">
                                        <div class="col-xs-12">
                                            <a class="nom" href="{{ path('presentation', { 'id' : produit.id }) }}">{{ produit.nom }}</a>
                                            <span class="prix">{{ produit.prix | tva(produit.tva.multiplicate) }}€</span>
                                            {#                                            <a class="btn btn-primary" href="{{ path('presentation', { 'id' : produit.id }) }}">Plus d'infos</a>#}

                                            {% if panier[produit.id] is not defined %}
                                                <div class="text-center">
                                                    <a class="btn-ajout-panier" href="{{ path('ajouter', { 'id' : produit.id }) }}">
                                                        <i class="fa fa-shopping-cart"></i> Ajouter au panier
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>


                    <div class="navigation">
                        {{ knp_pagination_render(produits) }}
                    </div>

                {% else %}
                    Aucun produit
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}