<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titre %}Ecommerce Fruits & Légumes{% endblock %}</title>
        <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}" />
        <link rel="stylesheet" href="{{asset('css/bootstrap-theme.css')}}" />
        <link rel="stylesheet" href="{{asset('css/style.css')}}" />
        <link rel="stylesheet" href="{{asset('css/font-awesome.css')}}" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>



    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('produit') }}">Ecommerce</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{ render(controller('EcommerceBundle:Categories:menuTop')) }}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecteMenu.html.twig' %}
                    {% else %}
                        {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}
                    {% endif %}

                        {{ render (controller('EcommerceBundle:Panier:menu')) }}
                    <li>{{ render (controller('EcommerceBundle:Produits:recherche')) }}</li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

{% block body %}{% endblock %}


<footer id="footer" class="vspace20">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h4>Informations</h4>
                <ul class="list-unstyled">
                    {{ render(controller('PagesBundle:Pages:menu')) }}
                </ul>
            </div> 

            <div class="col-xs-12 col-sm-4">
                <h4>Notre entrepôt</h4>
                <p><i class="fa fa-map-marker"></i>&nbsp;{{ adresse }}</p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <h4>Nous contacter</h4>
                <p><i class="fa fa-phone"></i>&nbsp;Tel: {{ telephone }}</p>
                <p><i class="fa fa-print"></i>&nbsp;Fax: {{ fax }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p class="text-center">&copy; Copyright {{"now"|date('Y')}} - Binet Julien</p>
            </div>
        </div>
    </div>
</footer>	
<script src="{{ asset('js/jquery-1.10.0.min.js')}}"></script>
<script src="{{ asset('js/bootstrap.js')}}"></script>
<script src="{{ asset('js/main.js')}}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>