{% extends '::layout/baseAdmin.html.twig' %}

{% block body %}
    <h1>Liste des factures de {{ utilisateur.username }}</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Références</th>
                <th>Date</th>
                <th>Prix TTC</th>
                <th>Voir facture</th>
            </tr>
        </thead>
        <tbody>
            {% if utilisateur.commandes|length ==0 %}
                <tr>
                    <td colspan="4">Aucune facture</td>
                </tr>
            {% endif %}
            {% for facture in utilisateur.commandes %}
                <tr>
                    <td>ref : {{ facture.reference }}</td>
                    <td>{{ facture.date | date('d/m/Y') }}</td>
                    <td>{{ facture.commande.prixTTC }}</td>
                    <td><a href="{{ path('facturesPDF', {'id' : facture.id}) }}" target="_blank"><i class="fa fa-eye"></i></a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</form>

{% endblock %}
