{% extends '::layout/baseAdmin.html.twig' %}

{% block body %}
    <h1>Liste des catégories</h1>

            <a href="{{ path('admin_categories_new') }}" class="btn btn-primary">Nouvelle catégorie</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>                
                        <a href="{{ path('admin_categories_show', { 'id' : category.id }) }}">
                            <img src="{{ category.image.AssetPath|imagine_filter('my_thumb_mini') }}" class='img-responsive' alt="{{ category.image.name }}" >
                        </a></td>
                    <td><a href="{{ path('admin_categories_show', { 'id': category.id }) }}">{{ category.nom }}</a></td>
                    <td>
                        <a href="{{ path('admin_categories_show', { 'id': category.id }) }}"><i class="fa fa-eye"></i></a>
                        <a href="{{ path('admin_categories_edit', { 'id': category.id }) }}"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
